.header__email {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin: 0;
  padding-right: 24px;
}

@media all and (max-width: 480px) {
    .header__email {
        font-size: 14px;
        line-height: 17px;
    }
}