@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__data/header__data.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__status/profile__status.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);
@import url(./blocks/profile/__change-avatar-btn/profile__change-avatar-btn.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_edit.css);
@import url(./blocks/popup/_type/popup_type_add-card.css);
@import url(./blocks/popup/_type/popup_type_photo.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container-photo/popup__container-photo.css);
@import url(./blocks/popup/__container/_withTooltip/popup__container_withTooltip.css);
@import url(./blocks/popup/__btn-close/popup__btn-close.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__link/form__link.css);
@import url(./blocks/form/_login.css/form_login.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__title/_center/form__title_center.css);
@import url(./blocks/form/__title/_login/form__title_login.css);
@import url(./blocks/form/__info/form__info.css);
@import url(./blocks/form/__info/_login/form__info_login.css);
@import url(./blocks/form/__info/_avatar/form__info_avatar.css);
@import url(./blocks/form/__btn-save/form__btn-save.css);
@import url(./blocks/form/__btn-save/_login/form__btn-save_login.css);
@import url(./blocks/form/__btn-save/_register/form__btn-save_register.css);
@import url(./blocks/form/__btn-save/__btn-save_inactive/form__btn-save_inactive.css);
@import url(./blocks/form/__info/_type/form__info_type_error.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__infoTool-image/__infoTool-image.css);
@import url(./blocks/photo-list/photo-list.css);
@import url(./blocks/figures/figures.css);
@import url(./blocks/figure/figure.css);
@import url(./blocks/figure/__pic/figure__pic.css);
@import url(./blocks/figure/__name/figure__name.css);
@import url(./blocks/figure/__like/figure__like.css);
@import url(./blocks/figure/__like-counter/figure__like-counter.css);
@import url(./blocks/figure/__basket/figure__basket.css);
@import url(./blocks/figure/__basket/_hide/figure__basket_hide.css);
@import url(./blocks/figure/__like/_active/figure__like_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__caption/footer__caption.css);
